@charset "UTF-8";
html {
  font-size: 62.5%;
}

@mixin fontsize($size: 24, $base: 10) {
  font-size: $size + px;
  font-size: ($size / $base) * 1rem;
}

$ja_font : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Verdana, "ＭＳ Ｐゴシック", sans-serif;

$base : #ffde00;
$red : #e92314;


body{background: $base ;
	font-size:1.2rem;
	text-align:center;
	margin:0;
	padding:0;
	

}

a:link{text-decoration:none; color: #000 ;}
a:visited{text-decoration:none; color:#000 ;}
a:hover{text-decoration:none; color:#636363;}
a:active{text-decoration:none; color:#636363;}
a:hover img{opacity:0.7; }

 .clearfix:after{
              content:".";
              display:block;
			  visibility:hidden;
              height:0;
			  line-height:0;
              clear:both;
}


#headbar {
   /* ▼上端に固定するCSS */
   /*position: fixed;*/
   top: 0px;
   left: 0px;
   width: 100%;

   /* ▼バーの装飾 */
   background-color: #fff;  /* 背景色 */
   color: #000;             /* 文字色 */
   box-shadow: 3px 3px 3px rgba(155,155,155,0.5); /* 影 */
   padding:1.5rem 0 0 0;
   opacity:0.9;
   
   h1 img{width:80%;
         padding-top:0.9rem;
   }
   
   ul{text-align: right;
     padding-bottom:0;
     margin-bottom:0.5rem;
   }
   li{display:inline;
      list-style:none;}
      
   .snsbtn li{
      margin-left:1.8rem;
      font-size:3.5rem;
      color:$red;
   }
   
   .pcmenu li{margin-left:3.5rem;
         font-size:2.2rem;
         font-weight:bold;
   }
     
   
}//headbar

main{margin:2.5rem 0;
    img{
    max-width:100%;
    margin-bottom:1rem;
    }
    
    p{margin-top:2rem;
        font-size:1.5rem;
    }
 
    
}//main

.title{
    margin:0 auto;
    background-color:#fff;
    height:20rem;
    img{max-width:100%;
	padding-top:3.2rem;
    }
}//title


.cocept_flex,.sectionbox{ display: flex;
	         flex-wrap:wrap;
            justify-content: space-around;
            align-items: stretch;
	        padding:4rem 4rem 1.5rem 4rem;
}
.concept{width:48%;
    margin:1.5rem auto;

    img{max-width:100%;
        padding-bottom:2rem;
    }
    P{font-size:2rem;
        text-align:left;
    }
}  //concept

.dl-btn{
    margin-top:10rem;
    P{font-size:2.4rem;
        font-weight:bold;    
    }
}
.dlimg{width:48%;    
    img{max-width:100%;}
  
}

.wh_can{margin:2rem 5rem 0 5rem;}

.wh_box{width:45%;
        border:$red solid 1rem;
        background:#fff;
        padding:1.5rem;
        margin-bottom:4rem;
        
        h3{font-size:2.8rem;
           font-weight:bold;
           letter-spacing:1rem;
            color:$red;}
           
        
        P{font-size:1.6rem;}
     
}

.use{margin:1rem 3rem 0 3rem;
    width:40%;
    text-align:left;}
    .number{font-family:"sans-serif", "arial" ,Arial , Verdana ,Roboto ,Helvetica ,"游ゴシック" , "Yu Gothic" , "游ゴシック体" , "YuGothic" , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic",;
        font-size:4rem;}
    .use_rig{margin:3rem 0 0 0; 
            width:40%;
        
        P{text-align:right;}
    }
    .usetext{font-size:1.6rem;}




.try,.tryimg{margin:2rem 0 6rem 0;}


#faq{margin:0;
.faq_dt, .faq_dd{
            padding:1.4rem 14rem;
            font-size:1.8rem;
            text-align:left;   
            span{font-size:4rem;
                padding-right:2rem;
             
            }
}
}
.faq_dt{background-color:#fff000;}
.faq_dd{margin-left:0;}

.page-top
{
	margin: 0 ;
	padding: 0 ;
	display: none ;
}
 
.page-top p
{
	margin: 0 ;
	padding: 0 ;

	position: fixed ;
	right: 16px ;
	bottom: 16px ;
}
 
.move-page-top
{
	display: block ;
	width: 84px ;
	height: 84px ;


	-webkit-transition:all 0.3s ;
	-moz-transition:all 0.3s ;
	transition:all 0.3s ;
}
.move-page-top:hover
{
	opacity: 0.85 ;
}


footer{border-top:0.5rem solid #e92314; 
    background-color:#fff;
    color:#6d6c6c;
    margin-top:6rem;
    margin-bottom:0;
    padding:2rem;
   
    span{color:#000;
        font-size:2.6rem;}
        
    .footbox{display:flex;
    align-items:baseline;
     flex-wrap:wrap;
     justify-content: space-around;
}
    .ft_text{width:45%;}
    
}

/*SP========================*/
@media(max-width:768px){
    #headbar{display:none;}
    #spheadber{background-color:#fff;
        padding:1rem;
        display:flex;
        justify-content: space-around;
        align-items: flex-end;

        img{max-width:50%;}

    }
    .splogo{margin:0;
            padding-left:1.5rem;
        img{max-width:40%;}
    }//splogo
    
     ul{text-align: right;
     padding-bottom:0;
     margin-bottom:0.2rem;
   }
   li{display:inline;
      list-style:none;
      margin-left:0.5rem;
      font-size:2.8rem;
      color:$red;
    }
    
.title{height:auto;
img{max-width:100%;
	padding-top:2rem;
    }
}//titile

.cocept_flex{justify-content:space-between;}
.sectionbox,.footbox{  flex-direction:column;
padding:0.2rem;
    
}
.concept{width:48%;
        margin-top:0;
.pc_txt{display:none;}
}
.cocept_flex{flex-direction:row;}
.concept_sp{margin-top:2rem;
        font-size:1.6rem;
        text-align:left;}
        
.wh_can{margin:2rem;}
.wh_box,.use,.use_rig{width:100%;
        margin-top:1rem;
        margin-bottom:1rem;

    h3{letter-spacing:0.2rem;
        margin-bottom:0.5rem;
    }
    p{margin-bottom:0.5rem;}
}//wh_box

.use,.use_rig{margin:1rem auto 0 auto;}
.use_rig p{text-align:left;}
.use_rig:first-child{order:2;}
.try{margin-bottom:0;
}
.tryimg{margin:0 0 6rem 0;}
#faq{margin:0;
.faq_dt, .faq_dd{
            padding:1.4rem 1rem;
             font-size:1.5rem;

     span{font-size:2.8rem;
                padding-right:1.6rem;}
}
}            





footer{
    .footbox{
    .ft_text{width:100%;
}
}
}

}//max768px


/*PC========================*/
@media(min-width:768px){
    #spheadber,.concept_sp{display:none;}
    
}//min768px